{{ define "main" }}
<section class="section">
        <div class="columns is-desktop is-centered is-gapless">
            <article class="column is-7-fullhd is-8-widescreen is-9-desktop box">
                <h1 class="title">
                    {{ .Title }}
                </h1>
                <h3 class="subtitle">
                    {{ .Description }}
                </h3>
                <div class="content">
                    <time datetime="{{.Date}}">{{ .Date | dateFormat "Monday, Jan 2, 2006" }}</time>
                    <div class="tags">
                        {{range .Params.tags}}
                        <a class="tag is-primary" href="/tags/{{.}}/">{{ . }}</a>
                        {{end}}
                    </div>
                    {{ .Content }}
                </div>
            </article>
        </div>
</section>
{{ end }}
