<nav class="navbar is-primary">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ .Site.BaseURL }}">
            <h1 class="title">{{ .Site.Title }}</h1>
        </a>

        <div class="navbar-burger burger" data-target="navMenu-main">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navMenu-main" class="navbar-menu">
        <div class="navbar-start">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
            <div class="navbar-item has-dropdown is-hoverable{{if $currentPage.HasMenuCurrent "main" . }} is-active{{end}}">
                    {{ range .Children }}
                <a class="navbar-link{{if $currentPage.IsMenuCurrent "main" . }} is-active{{end}}" href="{{ .URL }}">
                    {{ .Name }}
                </a>
                    {{ end }}
            </div>
                {{ else}}
            <a class="navbar-link {{if $currentPage.IsMenuCurrent "main" . }} is-active{{end}}" href="{{ .URL }}">
                {{ .Name }}
            </a>
                {{ end }}
            {{ end }}
        </div>
    </div>
</nav>
