@import "node_modules/bulma/sass/utilities/initial-variables"
@import "node_modules/bulma/sass/utilities/mixins"

///////////////////////////////////////////////////////////////////////////////
//Customize theme here
///////////////////////////////////////////////////////////////////////////////

//Nice reddish color
$red: rgb(218, 68, 83)
$primary: $red
//$primary: rgb(214, 109, 40)


//Separate serif fonts for body text and sans-serif for headings
//$family-serif: "Libre Baskerville", "Georgia", serif
$family-sans-serif: "Open Sans", sans-serif
$body-family: $family-sans-serif
$body-size: 18px
h1,h2,h3,h4,h5,h6
  font-family: $family-sans-serif

//Figure captions are black even though they're headings
figure
  h4
    color: $grey-dark !important

article.column
  max-width: $tablet

.box
  border-radius: 15px !important

.tag
  transition: 0.15s
  &:hover
    background-color: $grey-darker
    color: $white-ter
    text-decoration: none !important

$content-heading-color: $primary
$body-background-color: $white

//Dark navbar
$navbar-background-color: $grey-darker
$navbar-item-color: $white-ter
$navbar-item-hover-color: $primary
$navbar-item-active-color: $white
$navbar-item-hover-background-color: $black-ter
$navbar-dropdown-background-color: $grey-dark
$navbar-dropdown-border-top: 1px solid $primary
$navbar-dropdown-item-hover-background-color: $black-ter
$navbar-dropdown-item-hover-color: $white
//$navbar-item-active-background-color:

.navbar
  .title
    color: $white-ter
  &.is-transparent
    background-color: transparent

///////////////////////////////////////////////////////////////////////////////
//Load Bulma. Do not add custom Sass in this section //////////////////////////
///////////////////////////////////////////////////////////////////////////////

//@import "node_modules/bulma/bulma"
@import "node_modules/bulma/sass/utilities/_all"
@import "node_modules/bulma/sass/base/_all"
@import "node_modules/bulma/sass/elements/box"
@import "node_modules/bulma/sass/elements/button"
@import "node_modules/bulma/sass/elements/container"
@import "node_modules/bulma/sass/elements/content"
//@import "node_modules/bulma/sass/elements/form"
@import "node_modules/bulma/sass/elements/icon"
@import "node_modules/bulma/sass/elements/image"
@import "node_modules/bulma/sass/elements/notification"
@import "node_modules/bulma/sass/elements/other"
//@import "node_modules/bulma/sass/elements/progress"
//@import "node_modules/bulma/sass/elements/table"
@import "node_modules/bulma/sass/elements/tag"
@import "node_modules/bulma/sass/elements/title"
//@import "node_modules/bulma/sass/components/breadcrumb"
//@import "node_modules/bulma/sass/components/card"
//@import "node_modules/bulma/sass/components/dropdown"
//@import "node_modules/bulma/sass/components/level"
//@import "node_modules/bulma/sass/components/media"
//@import "node_modules/bulma/sass/components/menu"
//@import "node_modules/bulma/sass/components/message"
//@import "node_modules/bulma/sass/components/modal"
//@import "node_modules/bulma/sass/components/nav"
@import "node_modules/bulma/sass/components/navbar"
//@import "node_modules/bulma/sass/components/pagination"
//@import "node_modules/bulma/sass/components/panel"
//@import "node_modules/bulma/sass/components/tabs"
@import "node_modules/bulma/sass/grid/columns"
//@import "node_modules/bulma/sass/grid/tiles"
@import "node_modules/bulma/sass/layout/_all"
